* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: #121212;
	color: #ffffff;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

:root {
	--primary-color: #36f9ae;
	--primary-color-darker: #1db954;
	--danger-color: #ff5252;
	--background-dark: #121212;
	--background-light: #1d1d1d;
	--text-light: #ffffff;
	--text-secondary: #b3b3b3;
	--border-color: #333333;
}
